# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo

# Local IDE Configurations
.vscode/
.idea/

# DEVELOPMENT SANDBOXES (Matches both lower and upper case variations)
Archive_Old_Versions/
archive_old_versions/
ESP32_Brain/
esp32_brain/
*.bin

# Runtime media/data logs
*.jpg
*.png
images/
logs/
pc/config.py
